#bootstrap-section {
	background-color: #ED764A;
}

#template-section {
	background-color: #ed79e3;
}

#filter-section {
    background-color: #86B32D;
}

#custom-section {
    background-color: #FFE25F;
}

#events-section {
	background-color: #86B32D;
}

#module-section {
    background-color: #BF3030;
}

#model-section {
	background-color: #009999;
}

#attribute-section {
	background-color: #A200FF;
}

#style-section {
    background-color: #BF3030;
}

#expressions-section {
	background-color: #91D100;
}

#formatters-section {
	background-color: #B81B6C;
}

#routing-section {
	background-color: #56C5FF;
}

#binding-section {
    background-color: #2d9943;
}

#http-section {
    background-color: #ff842e;
}

/*@media only screen and (min-width: 1200px) {

	#module-section {
		-webkit-column-break-before: always;
		-moz-column-break-before: always;
		column-break-before: always;
	}
}

@media only screen and (max-width: 1200px) {
	#tto-section {
		-webkit-column-break-before: always;
		-moz-column-break-before: always;
		column-break-before: always;
	}
}*/
