@media print {
  body {
    page-break-after: avoid;
		/*width: 29.7cm;
		height: 21cm;*/
		/*height: 29.7cm;
		width: 21cm;*/
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		/*-moz-transform: scale(1, 0.45);
		-ms-transform: scale(1, 0.45);
		-webkit-transform: scale(1, 0.45);
		transform: scale(1, 0.45);*/
		background: transparent !important;
  }
  
	@page {
	  margin: 0cm;
		/*size: A4 landscape;*/
		size: A4;
	}
  
	* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

body {
	background-color: #333;
	margin-bottom: 20px;
}

h1 {
	color: white;
	font-size: 40px;
}

h1 img {
  height: 30px;
	margin: 0 5px 0 0;
	vertical-align: baseline;
}

code {
  padding: 2px;
}

.section-container {
	color: white;
	padding: 4px 4px 4px 8px;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.section-container p {
  margin: 0 0 0 2px;
	font-family: Tahoma;
}

.section-container ul {
  margin: 0;
}

.section-container li {
  list-style: none;
	padding-left: 2px;
}

.section-container li:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.2);
}

.section-container li:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.4);
}

.section {
	padding-left: 8px;	
	padding-right: 2px;
	margin: 4px;
	color: black;
	font-weight: normal;
	font-size: 12px;	
	background-color: rgba(255, 255, 255, 0.5);
}

.section-container .section p {
	font-size: 13px;
	font-family: Impact;
}

.section-content {
	padding-left: 8px;
	padding-right: 2px;
	color: black;	
}

.method {
	color: white;
}

.return-type {
	color: rgb(0, 149, 248);
	padding-right: 2px;
	font-weight: bold;
}

.method-name {
	color: rgb(255, 58, 58);
	font-weight: bold;
}

.params {
	color: rgb(255, 229, 94);
	font-weight: bold;
}

#core-section {
	background-color: #ED764A;
}

#async-section {
	background-color: #ed79e3;
}

#keyword-section {
	background-color: #009999;
}

#operators-section {
	background-color: #A200FF;
}

#collection-section {
	background-color: #86B32D;
}

#io-section {
	background-color: #BF3030;
}

#isolate-section {
	background-color: #00ABA9;
}

#mirrors-section{
	background-color: #FFE25F;
}

#test-section{
	background-color: #2d3999;
}

.footer {
	background-color: #555;
	color: #EEE;
}

 a[href]:after {
    content: none;
  }