@media print {
	body {
	  background-color: #fff;
		page-break-after: avoid;
		/*width: 29.7cm;
		height: 21cm;
		max-width: 29.7cm;
		max-height: 21cm;*/
	}
	
	a[href]:after {
		content: none;
	}

	@page {
		margin: 0cm;
		size: A4 landscape;
		/*size: A4;*/
	}
	
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
}

* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
	.grid {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
	
	#keyword-section, #operators-section, #collection-section {
		-webkit-column-break-before: always;
    -moz-column-break-before: always;
    column-break-before: always;
	}
}

@media only screen and (max-width: 1200px) {
	.grid {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media screen and (max-width: 900px) {
	.grid {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	
	#operators-section {
		-webkit-column-break-before: always;
    -moz-column-break-before: always;
    column-break-before: always;
	}
}

@media screen and (max-width: 600px) {
	.grid {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

body{
	margin: 0;
	padding: 0 1%;
	background-color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
}

h1 {
	color: #eee;
	font-size: 2.85em;
	margin: 0;	
}

h1 img {
	height: 0.75em;
	margin: 0 5px 0 0;
	vertical-align: baseline;
}

code {
	padding: 2px;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-style: italic;
}

.container, .container .content {
	height: 100%;
	width: 100%;
}

.container {
	/*display: table;*/
}

.container .header, .container .content, .container .footer {
  /*display: table-row;*/
	width: 100%;
}

.footer {
	margin-top: 7px;
	background-color: #555;
	color: #EEE;
}

.footer div {
	padding: 2px;
}

.footer span {
	background-color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 1.2em;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
}

.grid {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
	display: block;
}

.grid .section-container {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
	display: block;
	width: 100%;
}

/* Hacks for firefox */
@-moz-document url-prefix() { 
	.grid .section-container {
		display: inline-block;
	}
}

.section-container {
	color: white;
	padding: 4px 4px 4px 8px;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 10px;
	background: #eee;
}

.section-container p {
	margin: 0 0 0 2px;
	font-family: Tahoma;
}

.section-container ul {
	margin: 0;
}

.section-container li {
	list-style: none;
	padding-left: 2px;
	line-height: 1.75em;
}

.section-container li:nth-child(even), tr.section-content:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.2);
}

.section-container li:nth-child(odd), tr.section-content:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.4);
}

.section-group {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 0.1em;
	-webkit-column-gap: 0.1em;
	column-gap: 0.1em;
}

.section-group .section {
	display: inline-block;
	width: 100%;
}

.section {
	padding-left: 8px;	
	padding-right: 2px;
	margin: 4px;
	color: black;
	font-weight: normal;
	font-size: 0.6em;	
	background-color: rgba(255, 255, 255, 0.5);
}

.section p {
	font-size: 1.1em;
	font-family: Impact;
}

.section-content {
	padding-left: 8px;
	padding-right: 2px;
	color: black;	
}

.method {
	color: white;
}

.return-type {
	color: rgb(0, 149, 248);
	padding-right: 2px;
	font-weight: bold;
}

.method-name {
	color: rgb(255, 58, 58);
	font-weight: bold;
}

.params {
	color: rgb(255, 229, 94);
	font-weight: bold;
}

#core-section {
	background-color: #ED764A;
}

#async-section {
	background-color: #ed79e3;
}

#keyword-section {
	background-color: #009999;
}

#operators-section {
	background-color: #A200FF;
}

#collection-section {
	background-color: #86B32D;
}

#collection-section table {
	width: 99%;
}

#io-section {
	background-color: #BF3030;
}

#isolate-section {
	background-color: #00ABA9;
}

#isolate-section table {
	width: 99%;
}

#mirrors-section{
	background-color: #FFE25F;
}

#test-section{
	background-color: #2d3999;
}