
#core-section {
	background-color: #ED764A;
}

#async-section {
	background-color: #ed79e3;
}

#keyword-section {
	background-color: #009999;
}

#operators-section {
	background-color: #A200FF;
}

#collection-section {
	background-color: #86B32D;
}

#collection-section table {
	width: 99%;
}

#io-section {
	background-color: #BF3030;
}

#io-section .section:nth-child(3) {
  -webkit-column-break-before: always;
  -moz-column-break-before: always;
  column-break-before: always;
}
  
#isolate-section {
	background-color: #00ABA9;
}

#isolate-section table {
	width: 99%;
}

#mirrors-section{
	background-color: #FFE25F;
}

#test-section{
	background-color: #2d3999;
}

@media only screen and (min-width: 1200px) {

	#keyword-section, #operators-section, #collection-section {
		-webkit-column-break-before: always;
		-moz-column-break-before: always;
		column-break-before: always;
	}
}

@media screen and (max-width: 900px) {
	#operators-section {
		-webkit-column-break-before: always;
		-moz-column-break-before: always;
		column-break-before: always;
	}
}
