.samples{
	border: 1px solid orange;
}

#query-dom-section {
	background-color: #ED764A;
}

#http-request-section {
	background-color: #ed79e3;
  column-span: all;
/*  -moz-column-span: all;
  -ms-column-span: all;
  -webkit-column-span: all;
  -o-column-span: all;*/
}

#elements-section {
	background-color: #009999;
}

/*
#elements-section  #html-elements-section li:nth-child(n+22),
#elements-section  #input-elements-section li:nth-child(n+8)
{
  text-align: center;
}

#elements-section  #html-elements-section li:nth-child(n+43),
#elements-section  #input-elements-section li:nth-child(n+15)
{
  text-align: right;
}
*/