#query-dom-section {
	background-color: #ED764A;
}

#query-dom-section  table {
  width: 99%;
}

#http-request-section {
	background-color: #ed79e3;
  column-span: all;
/*  -moz-column-span: all;
  -ms-column-span: all;
  -webkit-column-span: all;
  -o-column-span: all;*/
}

#elements-section {
	background-color: #009999;
}

#element-section {
	background-color: #A200FF;
}

#events-section {
	background-color: #86B32D;
}

#file-api-section {
    background-color: #BF3030;
}

#history-section {
    background-color: #2d9943;
}

#local-storage-section {
	background-color: #2d3999;
}

#index-db-section {
    background-color: #56C5FF;
}

#event-source-section {
    background-color: #ff842e;
}

#web-socket-section {
    background-color: #91D100; 
}

#web-rtc-section {
    background-color: #FFE25F;
}

#canvas-section {
  background-color: #009999;
}

#css-section {
    background-color: #B81B6C;
}

/* Dart lint */
pre {
    background-color: #EEEEEE;
    padding-top: 7px;
    padding-left: 5px;
}

.typ {
    color: #2b91af;
}

.str {
    color: #800000;
}

.kwd {
    color: #00008b;
}

.lit {
    color: #800000;
}

.com {
    color: gray;
}

.var {
    color: #7F1294;
}

.pln {
    color: #000000;
}

.pun {
    color: #000000;
}

/*
#elements-section  #html-elements-section li:nth-child(n+22),
#elements-section  #input-elements-section li:nth-child(n+8)
{
  text-align: center;
}

#elements-section  #html-elements-section li:nth-child(n+43),
#elements-section  #input-elements-section li:nth-child(n+15)
{
  text-align: right;
}
*/
