<!DOCTYPE html>
<html>
  <head>
    <title>Dart Cheat Sheet [AngularDart]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="./favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/angular.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700%7CAnton' rel='stylesheet' type='text/css'>
    <meta name="description" content="The cheat sheet references main classes and methods from Dart SDK.">
    <meta name="author" content="Guillaume Girou, Nicolas François, Vincent Bostoen">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-42028125-2', 'dartlangfr.net');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="header">
      <h1>
        <img alt="Dart Logo" src="img/dart-logo.png"/>
        dart:html
        <span class="noprint" style="display: inline">
        <span class="g-plusone" data-href="http://dartlangfr.net/dart-cheat-sheet/"></span>
        </span>
      </h1>
      <div class="nav">
        <ul>
          <li>
            <div class="btn-group">
              <a href="core.html" class="btn btn-default"><img src="img/core32.png" alt="Core"> Core</a>
              <a href="html.html" class="btn btn-default active"><img src="img/html32.png" alt="HTML"> HTML</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div class="grid">
        <div id="bootstrap-section" class="section-container">
          <p>Bootstrap</p>
          <div class="section">
            <p>HTML</p>
            <pre class="lang-html"><span class="tag">&lt;html</span><span class="pln"> </span><span class="atn">ng-app</span><span class="tag">&gt;</span><span class="pln">
  </span><span class="tag">&lt;body&gt;</span><span class="pln">
    ...
    </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"packages/shadow_dom/shadow_dom.min.js"</span><span class="tag">&gt;&lt;/script&gt;</span><span class="pln">
    </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"application/dart"</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"main.dart"</span><span class="tag">&gt;&lt;/script&gt;</span><span class="pln">
    </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text/javascript"</span><span class="pln"> </span><span class="atn">src</span><span class="pun">=</span><span class="atv">"packages/browser/dart.js"</span><span class="tag">&gt;&lt;/script&gt;</span><span class="pln">
  </span><span class="tag">&lt;/body&gt;</span><span class="pln">
</span><span class="tag">&lt;/html&gt;</span></pre>
          </div>
          <div class="section">
            <p>main.dart script</p>
            <pre class="lang-dart"><span class="kwd">import</span><span class="pln"> </span><span class="str">'package:angular/angular.dart'</span><span class="pun">;</span><span class="pln">
</span><span class="kwd">import</span><span class="pln"> </span><span class="str">'package:angular/application_factory.dart'</span><span class="pun">;</span><span class="pln">

main</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
  applicationFactory</span><span class="pun">().</span><span class="pln">run</span><span class="pun">();</span><span class="pln">
</span><span class="pun">}</span></pre>
          </div>
        </div>
        <div id="module-section" class="section-container">
          <p>Module</p>
          <div class="section">
            <pre class="lang-dart">
<span class="kwd">class</span><span class="pln"> </span><span class="typ">MyAppModule</span><span class="pln"> </span><span class="kwd">extends</span><span class="pln"> </span><span class="typ">Module</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
  </span><span class="typ">MyAppModule</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">RecipeBookController</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">RatingComponent</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">Tooltip</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">CategoryFilter</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">SearchRecipeComponent</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">ViewRecipeComponent</span><span class="pun">);</span><span class="pln">
    type</span><span class="pun">(</span><span class="typ">QueryService</span><span class="pun">);</span><span class="pln">
    value</span><span class="pun">(</span><span class="typ">NgRoutingUsePushState</span><span class="pun">,&nbsp;</span><span class="typ">recipeBookRouteInitializer</span><span class="pun">);</span><span class="kwd">
    factory</span><span class="pun">(</span><span class="typ">NgRoutingUsePushState</span><span class="pun">,
           (_) => </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">NgRoutingUsePushState</span><span class="pun">.</span><span class="typ">value</span><span class="pun">(</span><span class="kwd">false</span><span class="pun">);</span>
    <span class="pun">}</span><span class="pln">
</span><span class="pun">}</span><span class="pln">

main</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
  applicationFactory</span><span class="pun">()</span><span class="pln">
      </span><span class="pun">.</span><span class="pln">addModule</span><span class="pun">(</span><span class="kwd">new</span><span class="pln"> </span><span class="typ">MyAppModule</span><span class="pun">())</span><span class="pln">
      </span><span class="pun">.</span><span class="pln">run</span><span class="pun">();</span><span class="pln">
</span><span class="pun">}</span>
                  </pre>
          </div>
        </div>
        <div id="template-section" class="section-container">
          <p>Template directives</p>
          <div class="section">
            <p>ng-if / ng-unless</p>
            <pre class="lang-html prettyprint prettyprinted"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-if</span><span class="pun">=</span><span class="atv">"condition expression"</span><span class="tag">&gt;</span><span class="pln">
  Removed from the DOM if ng-unless is falsy
</span><span class="tag">&lt;/div&gt;</span>
<span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-unless</span><span class="pun">=</span><span class="atv">"..."</span><span class="tag">&gt;</span><span class="pln">
  Removed from the DOM if ng-unless is truthy
</span><span class="tag">&lt;/div&gt;</span></pre>
          </div>
          <div class="section">
            <p>ng-switch</p>
            <pre class="lang-html"><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-switch</span><span class="pun">=</span><span class="atv">"selection"</span><span class="tag">&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-switch-when</span><span class="pun">=</span><span class="atv">"settings"</span><span class="tag">&gt;</span><span class="pln">Settings Div</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-switch-when</span><span class="pun">=</span><span class="atv">"home"</span><span class="tag">&gt;</span><span class="pln">Home Span</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">ng-switch-default</span><span class="tag">&gt;</span><span class="pln">default</span><span class="tag">&lt;/div&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span></pre>
          </div>
          <div class="section">
            <p>ng-repeat</p>
            <pre class="lang-html"><span class="tag">&lt;ul&gt;</span><span class="pln">
  </span><span class="tag">&lt;li</span><span class="pln"> </span><span class="atn">ng-repeat</span><span class="pun">=</span><span class="atv">"item in ['foo', 'bar', 'baz']"</span><span class="tag">&gt;</span><span class="pln">
    {{item}}
  </span><span class="tag">&lt;/li&gt;</span><span class="pln">
</span><span class="tag">&lt;/ul&gt;</span></pre>
          </div>
        </div>
<div id="member-section" class="section-container">
  <p>Member access</p>
    <div class="section">
    <ul>
      <li>String :<br/>
<pre>&lt;p ng-class=&quot;ctrl.style&quot;&gt;Setting classes using string syntax&lt;/p&gt;<pre></li>
      <li>List :<br/>
<pre>&lt;div ng-class=&quot;[ctrl.style1, ctrl.style2, ctrl.style3]&quot;&gt;</li></pre>
      <li>Map :<br/>
<pre>&lt;input type=&quot;checkbox&quot; ng-model=&quot;ctrl.classesMap['bold']&quot;&gt;</li></pre>
      <li>Function call :<br/>
<pre>&lt;button ng-click='toggle()'&gt;{{button}}&lt;/button&gt;</li></pre>s
    </ul>
</div>
</div>
        <div id="core-section" class="section-container">
          <p>Core</p>
          <div class="section">
            <p>Controller</p>
            <pre class="lang-dart"><span class="lit">@Controller</span><span class="pun">(</span><span class="pln">
    selector</span><span class="pun">:</span><span class="pln"> </span><span class="str">'[recipe-book]'</span><span class="pun">,</span><span class="pln">
    publishAs</span><span class="pun">:</span><span class="pln"> </span><span class="str">'ctrl'</span><span class="pun">)</span><span class="pln">
</span><span class="kwd">class</span><span class="pln"> </span><span class="typ">RecipeBookController</span><span class="pln"> </span><span class="pun">{</span><span class="pln"> </span><span class="pun">...</span><span class="pln"> </span><span class="pun">}</span></pre>
          </div>
          <div class="section">
            <p>Http Service</p>
            <pre class="lang-dart"><span class="kwd">class</span><span class="pln"> </span><span class="typ">RecipeBookController</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
  </span><span class="kwd">final</span><span class="pln"> </span><span class="typ">Http</span><span class="pln"> _http</span><span class="pun">;</span><span class="pln">
  </span><span class="typ">RecipeBookController</span><span class="pun">(</span><span class="kwd">this</span><span class="pun">.</span><span class="pln">http</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span>
  http</span><span class="pun">.</span><span class="kwd">get</span><span class="pun">(</span><span class="str">'recipes.json'</span><span class="pun">)</span><span class="pln">
    </span><span class="pun">.</span><span class="kwd">then</span><span class="pun">((</span><span class="typ">HttpResponse</span><span class="pln"> response</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln"> </span>
      <span class="pun">...</span><span class="pln">
    </span><span class="pun">});</span><span class="pln">
  </span><span class="pun">}</span>
<span class="pun">}</span>

</pre>
          </div>
        </div>
        <!--
          <div id="filter-section" class="section-container">
              <p>Filter</p>
              <div class="section">
                  <p></p>
                  <pre class="lang-html"></pre>
              </div>
          </div>
          -->
        <div id="events-section" class="section-container">
          <p>Event directives</p>
          <div class="section">
            <p>Element events</p>
            <ul class="section-content column3">
              <li>ng-abort</li>
              <li>ng-beforecopy</li>
              <li>ng-beforecut</li>
              <li>ng-beforepaste</li>
              <li>ng-blur</li>
              <li>ng-change</li>
              <li>ng-copy</li>
              <li>ng-cut</li>
              <li>ng-error</li>
              <li>ng-focus</li>
              <li>ng-fullscreenchange</li>
              <li>ng-fullscreenerror</li>
              <li>ng-input</li>
              <li>ng-invalid</li>
              <li>ng-load</li>
              <li>ng-paste</li>
              <li>ng-reset</li>
              <li>ng-scroll</li>
              <li>ng-search</li>
              <li>ng-select</li>
              <li>ng-selectstart</li>
              <li>ng-submit</li>
            </ul>
          </div>
          <div class="section">
            <p>Mouse events</p>
            <ul class="section-content column3">
              <li>ng-click</li>
              <li>ng-doubleclick</li>
              <li>ng-contextmenu</li>
              <li>ng-drag</li>
              <li>ng-dragstart</li>
              <li>ng-dragend</li>
              <li>ng-dragenter</li>
              <li>ng-dragover</li>
              <li>ng-dragleave</li>
              <li>ng-drop</li>
              <li>ng-mousedown</li>
              <li>ng-mouseenter</li>
              <li>ng-mouseleave</li>
              <li>ng-mousemove</li>
              <li>ng-mouseover</li>
              <li>ng-mouseup</li>
              <li>ng-mousewheel</li>
              <li>ng-mouseout</li>
            </ul>
          </div>
          <div class="section">
            <p>Keyboard events</p>
            <ul class="section-content column3">
              <li>ng-keydown</li>
              <li>ng-keypress</li>
              <li>ng-keyup</li>
            </ul>
          </div>
          <div class="section">
            <p>Touch events</p>
            <ul class="section-content column3">
              <li>ng-toucheancel</li>
              <li>ng-touchend</li>
              <li>ng-touchenter</li>
              <li>ng-touchleave</li>
              <li>ng-touchmove</li>
              <li>ng-touchstart</li>
            </ul>
          </div>
          <div class="section">
            <p>Other events</p>
            <ul class="section-content">
              <li>ng-transitionend</li>
            </ul>
          </div>
          <div class="section">
            <p>Examples</p>
            <pre class="lang-html"><span class="tag">&lt;button</span><span class="pln"> </span><span class="atn">ng-click</span><span class="pun">=</span><span class="atv">" lastEvent = 'Click' "</span><span class="pln">
    </span><span class="atn">ng-doubleclick</span><span class="pun">=</span><span class="atv">" lastEvent = 'DblClick' "</span><span class="tag">&gt;</span><span class="pln">
</span><span class="tag">&lt;/button&gt;</span></pre>
          </div>
        </div>
        <div id="formatters-section" class="section-container">
          <p>Formatters /  Filters</p>
          <div class="section">
            <p>Built-in Formatters</p>
            <table>
              <tr>
                <td>arrayify</td>
              </tr>
              <tr>
                <td>currency[:symbol[:leading]]</td>
              </tr>
              <tr>
                <td>date[:format]</td>
              </tr>
              <tr>
                <td>filter:expression[:comparator]</td>
              </tr>
              <tr>
                <td>json</td>
              </tr>
              <tr>
                <td>limitTo:number</td>
              </tr>
              <tr>
                <td>lowercase</td>
              </tr>
              <tr>
                <td>number[:fractionSize]</td>
              </tr>
              <tr>
                <td>orderBy:predicate[:true]</td>
              </tr>
              <tr>
                <td>stringify</td>
              </tr>
              <tr>
                <td>uppercase</td>
              </tr>
            </table>
          </div>
          <div class="section">
            <p>Usage</p>
            <pre>{{ item in items | limitTo:2 }}</pre>
            <pre>&lt;li ng-repeat=&quot;item in items | limitTo:2&quot;&gt;{{item}}&lt;/li&gt;</pre>
          </div>
          <div class="section">
            <p>Custom formaters</p>
            <pre>@Formatter(name: 'camelCase')
class CamelCaseFormatter { ... }</pre>
          </div>
        </div>
        <div id="model-section" class="section-container">
          <p>Model directives</p>
          <div class="section">
            <p>Checkbox</p>
            <pre class="lang-html"><span class="tag">&lt;input</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"checkbox"</span><span class="pln">
  </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"expr"</span><span class="pln">
  [</span><span class="atn">ng-true-value</span><span class="pun">=</span><span class="atv">"t_expr"</span><span class="pln">]
  [</span><span class="atn">ng-false-value</span><span class="pun">=</span><span class="atv">"f_expr"</span><span class="pln">]</span><span class="tag">&gt;</span></pre>
          </div>
          <div class="section">
            <p>Date / Time</p>
            <pre class="lang-html"><span class="tag">&lt;input</span><span class="pln">
  </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"date|datetime|datetime-local|month|time|week"</span><span class="pln">
  [</span><span class="atn">ng-bind-type</span><span class="pun">=</span><span class="atv">"date"</span><span class="pln">]
  </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"myModel"</span><span class="tag">&gt;</span></pre>
          </div>
          <div class="section">
            <p>Numbers</p>
            <pre class="lang-html"><span class="tag">&lt;input</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"number|range"</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"myModel"</span><span class="tag">&gt;</span></pre>
          </div>
          <div class="section">
            <p>Radio</p>
            <pre class="lang-html"><span class="tag">&lt;input</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"radio"</span><span class="pln"> </span><span class="atn">name</span><span class="pun">=</span><span class="atv">"foo"</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"category"</span><span class="tag">&gt;</span></pre>
          </div>
          <div class="section">
            <p>Select</p>
            <pre class="lang-html"><span class="tag">&lt;select</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">""</span><span class="tag">&gt;</span><span class="pln">
  ...
</span><span class="tag">&lt;/select&gt;</span></pre>
          </div>
          <div class="section">
            <p>Texts</p>
            <pre class="lang-html"><span class="tag">&lt;input</span><span class="pln">
  </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"text|url|password|email|search|tel"</span><span class="pln">
  </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"myModel"</span><span class="tag">&gt;</span><span class="pln">

</span><span class="tag">&lt;textarea</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"myModel"</span><span class="tag">&gt;&lt;/textarea&gt;</span></pre>
          </div>
          <div class="section">
            <p>Content editable</p>
            <pre class="lang-html"><span class="tag">&lt;span</span><span class="pln"> </span><span class="atn">contenteditable</span><span class="pln"> </span><span class="atn">ng-model</span><span class="pun">=</span><span class="atv">"name"</span><span class="tag">&gt;</span></pre>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <a href="https://plus.google.com/115816334172157652403">
      <img src="img/dartlangfr.png" alt="Dartlang [FR] - &#661;&#3663;&#814;&#3663;&#660;">
      </a>
      <div>
        +Made by <a href="http://plus.google.com/115049522200141162219"><span>Guillaume Girou</span></a>, <a href="http://plus.google.com/106226789128312528511"><span>Nicolas François</span></a> and <a href="http://plus.google.com/109253530406296308866"><span>Vincent Bostoen</span></a> from
        <a href="https://plus.google.com/115816334172157652403"><span>Dartlang [FR] - &#661;&#3663;&#814;&#3663;&#660;</span></a><br>
        <em>+Version 1.0.0 - 20131114</em><br>
      </div>
    </div>
    <!-- Google+ +1 button. -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      {parsetags: 'explicit'}
    </script>
    <script type="text/javascript">gapi.plusone.go("header");</script>
  </body>
</html>