<html ng-app>
  <body>
    <!-- ng-if / ng-unless -->
    <div ng-if="true">
      Removed from the DOM if ng-unless is falsy
    </div>
    <div ng-unless="false">
      Removed from the DOM if ng-unless is truthy
    </div>

    <hr/>
    
    <!-- ng-switch -->
    <div>
      <button ng-click="selection='settings'">Show Settings</button>
      <button ng-click="selection='home'">Show Home Span</button>
      <button ng-click="selection=''">Show default</button>
      <p>selection={{selection}}</p>
      <div ng-switch="selection">
          <div ng-switch-when="settings">Settings Div</div>
          <div ng-switch-when="home">Home Span</div>
          <div ng-switch-default>default</div>
      </div>
    </div>
    
    <hr/>

    <!-- ng-repeat -->
    <ul>
      <li ng-repeat="item in ['foo', 'bar', 'baz']">
        {{item}}
      </li>
    </ul>
    
    <hr/>

    <!-- ng-event -->
    <button ng-click=" lastEvent = 'Click' " 
        ng-doubleclick=" lastEvent = 'DblClick' ">
        ng-event
    </button> {{lastEvent}}

    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
  </body>
</html>