<html ng-app>
  <body>
    <!-- ng-if / ng-unless -->
    <h3>ng-if / ng-unless</h3>
    <div ng-if="true">
      Removed from the DOM if ng-unless is falsy
    </div>
    <div ng-unless="false">
      Removed from the DOM if ng-unless is truthy
    </div>

    <hr/>
    
    <!-- ng-switch -->
    <h3>ng-switch</h3>
    <div>
      <button ng-click="selection='settings'">Show Settings</button>
      <button ng-click="selection='home'">Show Home Span</button>
      <button ng-click="selection=''">Show default</button>
      <p>selection={{selection}}</p>
      <div ng-switch="selection">
          <div ng-switch-when="settings">Settings Div</div>
          <div ng-switch-when="home">Home Span</div>
          <div ng-switch-default>default</div>
      </div>
    </div>
    
    <hr/>

    <!-- ng-repeat -->
    <h3>ng-repeat</h3>
    <ul>
      <li ng-repeat="item in ['foo', 'bar', 'baz']">
        {{item}}
      </li>
    </ul>
    
    <hr/>

    <!-- ng-event -->
    <h3>ng-event</h3>
    <button ng-click=" lastEvent = 'Click' " 
        ng-doubleclick=" lastEvent = 'DblClick' ">
        ng-event
    </button> {{lastEvent}}

    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="main.dart"></script>
    <script type="text/javascript" src="packages/browser/dart.js"></script>
  
    <hr/>

    <!-- ng-include -->
    <h3>ng-include</h3>
    <div ng-include="template1.html"></div>
    <div ng-include="template2.html"></div>
    <select ng-model="templateUrl">
     <option value="">(blank)</option>
     <option ng-repeat="t in ['template1.html', 'template2.html']" ng-bind="t"></option>
    </select>
    url of the template: <code>{{templateUrl}}</code>
    <div>
      <div ng-include="{{templateUrl}}"></div>
    </div>
      
    <hr/>

    <!-- Controller -->
    <h3 recipe-book>Controller: {{ctrl.data}}</h3>

    <hr/>

    <!-- Decorator -->
    <h3>Decorator</h3>
    <div tooltip="Hello World!">Tooltip</div>

    <hr/>
    
    <!-- Component -->
    <h3>Component</h3>
    <rating rating="rating"></rating> {{rating}}
  </body>
</html>